*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;/*#1b1919 цвет вернуть*/
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*==================universal====================*/

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 1140px;
  margin:0px 0px 156px 0px;
}

.button {
  background-color: black;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
  border: 3px double #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*=======================result=======================*/

.result {
  display: flex;
  margin: 0px 30px 0px 0px;
  flex-direction: column;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 711px;
  height: 386px;
  margin: 0px 0px 19px 0px;  /*16 было*/
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
}

.search-form__fieldset {
  border-style: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
}

.search-form__textfield {
  width: 227px;
  height: 27px;
  background-color: #1b1919;
  border: 1px solid white;
  border-style:  solid none;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  border-radius: 0;
}

.search-form__textfield:active {
  outline: none;
  border-bottom: none;
  border-top: none;
}

.search-form__textfield:focus {
  outline: none;
  border-bottom: 3px double #fff;
  border-top: 3px double #fff;
}

.search-form__label:focus-within {
  border: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: #fff, 0.7;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
}

.search-form__label {
  display: inline-flex;
  /*border: 1px solid transparent;*/
}

.search-form__checkbox-list .search-form__label:not(:first-child) {
  margin-left: 15px;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  
}

.search-form__label-text {
  text-indent: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
}

.search-form__checkbox[type='checkbox'] + .search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  background-color: #1b1919;
  border: 1px solid #fff;
  margin: auto;
  cursor: pointer;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px double #1b1919;
}

.search-form__checkbox[type='checkbox']:hover + .search-form__pseudo-checkbox + .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

/*=====================content__details=======================*/

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  color: #fff;
  line-height: 94%;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details .content__list {
  overflow: hidden;
  overflow-y: scroll;
}

.content__list {
  height: 298px;
  position: relative;
  top: 0;
  left: 0;
}

.content__list-item {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.content__list-item:first-child {
  margin-top: 0px;
}

.content__list-item:last-child {
  margin-bottom: 0px;
}

.content__list-item:focus-within {
  outline: none;
  border: 1px solid #fff;
}

.content__list-item:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  height: 100%;
}

.content__video-card-thumbnail { 
  height: 103px;
  width: 194px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  text-align: start;
  font-weight: 400;
  outline: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__list::-webkit-scrollbar {
  width: 0px;              
}